.conteiner_contacto{
    display: flex;
    margin: auto;
    width: 980px;
}

.img_megafono{
    width: 400px;
    transform: rotate(-20deg);
    animation: Lados 1.5s infinite;
}

.tiposContacto{
    margin-left: 4rem;
}

.solicitud{
    font-family: "Rockhead";
    font-size: 2rem;
    color: antiquewhite;
    text-align: center;
}

.Lista_contactos{
    display: flex;
    justify-content: center;
}

.item_contacto{
    width: 60PX;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

@keyframes Lados {
    0%{
        transform:translateY(-30px),rotate(-20deg);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-30px),rotate(-20deg);
    }
    
    
}
