.Navegacion{
    margin-top: 20px;
}

.item__lista{
    font-family: "Rockhead";
    font-size: 2rem;
    list-style: none;
    transition: 1s linear;
    color: #a7869d;
}

.lista{
    display: flex;
    gap: 20px;
}

.item__lista:hover{
    color: #0dd8ac;   
    cursor: pointer;
}

@media screen and (max-width:400px){
    .item__lista{
        font-size: 1.5rem;
    }
    .lista{
        display: flex;
        justify-content: center;
    }
    .Navegacion{
        display: flex;
        justify-content: center;
    }
}

