.Navegacion{
    display: flex;
    margin-top: 20px;
}

.item__lista{
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Rye', cursive;
    /* font-family: "Xtradex"; */
    font-size: 2rem;
    list-style: none;
    padding-right: 2rem;
    transition: 1s linear;
    color: #a7869d;
}

/* .inicial{
    background-image: linear-gradient(45deg, #27561c, #4da32b, #eeff00);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
} */

.lista{
    display: flex;
}

.item__lista:hover{
    color: #0dd8ac;   
    cursor: pointer;
}

.active{
    color: #aa0eed;
}

