.imagen__sobre{
    width: 400px;
    height: 500px;
    border-radius: 50%;
    position: relative;
}

.borde__imagen{
    background: linear-gradient(50deg, #483e49, #32033b);
    height: 530px;
    width: 430px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -15px;
    animation: gradient 5s linear infinite;
}

.logo__redSocial{
    width: 30px;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.imagnes__redesSociales{
    display: flex;
    justify-content: center;
}


@media screen and (max-width:400px){
    .borde__imagen{
        height: 330px;
        width: 230px;
    }
    .imagen__sobre{
        height: 300px;
        width: 200px;
    }
    .Banner{
        margin-bottom: 2rem
    }
}

@keyframes gradient {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 80rem 0;
    }
    100%{
        background-position: 0 0;
    }
}