.titulos{
    font-size: 60px;
    color: #edd11c;
    text-align: center;
    font-family: "nuck";
    margin-bottom: 1rem;
    background-image: linear-gradient(1deg, #ff01e1, #53114a, #ff00dd);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@font-face{
    font-family: "Rockhead";
    src: url(./../CarpetaFuentes/Wonderful-Font-Bundle-6212264-1/Rockhead/Rockhead-Rough.otf);
}

@font-face{
    font-family: "nuck";
    src: url(./../CarpetaFuentes/Knucklehead-1/Knucklehead-1.otf);
}


